<header class = 'card-entry shadow-card'>
    <div class = 'content-image shadow-card'>

    	{{ item.action_checkbox.1 }}
    	{{ item.portada.1 }}

    </div>
    
    <div class = 'content'>
        <div class = 'content-info'>
            <p class = 'title-entry'>{{ item.title.1 }}</p>
            <p class = 'short-description'>{{ item.short_description.1 }}</p>
            {{ item.categories.1 }}
        </div>
        
        <div class = 'date-entry'>{{ item.date.1 }}</div>
    </div>
</header>